<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>
  <script src="index.js"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body id="contenedor-principal">

  <h1 id="message">Este es el juego tres en raya!!</h1>

  <div class="container">
    <div class="square" data-cell="0"></div>
    <div class="square" data-cell="1"></div>
    <div class="square" data-cell="2"></div>
    <div class="square" data-cell="3"></div>
    <div class="square" data-cell="4"></div>
    <div class="square" data-cell="5"></div>
    <div class="square" data-cell="6"></div>
    <div class="square" data-cell="7"></div>
    <div class="square" data-cell="8"></div>
  </div>

</body>

</html>
